.bouquets {
  /* Some of our bouquets */

  width: 402px;
  height: 56px;
  left: calc(50% - 402px / 2);
  top: 0px;
  margin-left: 519px;
  margin-top: 80px;

  /* Accent/Sub_accent */
  font-family: "Caveat";
  font-style: normal;
  font-weight: 700;
  font-size: 56px;
  line-height: 100%;
  /* identical to box height, or 56px */

  /* Orange/3 */
  color: #fc640c;
}

h5 {
  /* Each order is evaluated individually, because the price is formed on the basis of the colors chosen for the bouquet. */
  margin-left: 189px;
  width: 1062px;
  height: 27px;
  left: 109px;
  top: 72px;

  /* Main/Main */
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  /* identical to box height, or 27px */
  text-align: center;

  /* Black */
  color: #1f1f1f;
}
.left {
  /* material-symbols:chevron-left-rounded */
  margin-left: 80px;

  height: 85px;
  left: 0px;
  top: 368px;
  margin-top: 448px;
}

.sunnyday {
  /* Card */

  width: 302px;
  height: 387px;
  left: 109px;
  top: 217px;
  margin-top: 297px;
  margin-right: 949px;
  margin-top: 297px;
}

.orchiddaylight {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;

  width: 410px;
  height: 511px;
  left: calc(50% - 410px / 2);
  top: 155px;
  margin-right: 515px;
  margin-top: 235px;
}

.tropicalparadays {
  /* Card */

  width: 302px;
  height: 387px;
  left: 869px;
  top: 217px;
  margin-right: 189px;
  margin-top: 297px;
}

.right {
  /* material-symbols:chevron-right-rounded */

  width: 85px;
  height: 85px;
  left: 1195px;
  top: 368px;
}
