.bouquets-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
}

.bouquets-list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-left: 0;
  column-gap: 24px;
  justify-content: center;
  align-items: center;
}

.bouquets-list-item {
  height: 100px;
  width: 50px;
  background-color: #ff3;
}

.bouquets-list-item.active {
  height: 150px;
  width: 100px;
}

.bouquets-list-item-text {
  text-align: center;
}
